.contact_container{
    row-gap: 3rem;
}

.contact_information{
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact_icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-1-5);
}

.contact_title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact_subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact_content{
    background-color: var(--input-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.contact_label{
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}

.contact_input{
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

.footer_container{
    row-gap: 3.5rem;
}

.foot_bg{
    background-color: var(--first-color);
    padding: 2rem 0 3rem;
}

.footer_title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer_subtitle{
    font-size: var(--small-font-size);
}

.footer_socials{
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}

.footer_socials:hover{
    color: var(--first-color-lighter);
}

.footer_title,
.footer_subtitle,
.footer_socials{
    color: #fff;
}

.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: .8;
    padding: .4rem .4rem 0 .4rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: .4s ease-in-out;
}

.scrollup:hover{
    background-color: var(--first-color-alt);
}
.scrollup_icon{
    color: #fff;
}

.show-scroll{
    bottom: 5rem;
}

@media screen and (min-width: 568px){
 
    .contact_container{
        margin-left: 4rem;
        margin-right: 4rem;
    }   
  }

@media screen and (min-width: 568px){
 
    .contact_container{
        grid-template-columns: 2fr 2fr;
    }   
  }
