.skills_container{
    row-gap: 0;
}

.skills_header{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: var(--mb-2-5);
}

.skills_icon, 
.skills_arrow{
    font-size: 2rem;
    color: var(--first-color);
}

.skills_icon{
    margin-right: var(--mb-0-75);
}

.skills_title{
    font-size: var(--h3-font-size);
}

.skills_subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skills_arrow{
    margin-left: auto;
    transition: .4s;
}

.skills_list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.skills_titles{
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills_name-logo{
    align-items: center;
    display: flex;
}

.skills_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills_bar,
.skills_percentage{
    height: 5px;
    border-radius: .25rem;
}

.skills_bar{
    background-color: var(--first-color-lighter);
}

.skills_percentage{
    display: block;
    background-color: var(--first-color);
}

.skill_html{
    width: 80%;
}

.skill_css{
    width: 70%;
}

.skill_javascript{
    width: 40%;
}

.skill_react{
    width: 40%;
}

.skill_java{
    width: 70%;
}

.skill_sql{
    width: 40%;
}

.skill_android{
    width: 50%;
}

.skill_eclipse{
    width: 60%;
}

.skill_build{
    width: 90%;
}

.skill_router{
    width: 70%;
}

.skill_repair{
    width: 80%;
}

.build,
.router,
.repair {
    color: var(--fist-color-second);
}



.skills_close .skills_list{
    height: 0;
    overflow: hidden;
   
}

.skills_open .skills_list{
    height: max-content;
    margin-bottom: var(--mb-2-5);
   
}

.skills_open .skills_arrow{
    transform: rotate(-180deg);
}

@media screen and (min-width: 568px){
 
    .skills_container{
      grid-template-columns: repeat(2, 1fr);  
      margin-left: 5rem;
      margin-right: 5rem;
    }
     
  }